<html >
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title></title>
        <script src="angular.min.js"></script>
        <script src ="app.js"></script>
    </head>
    <body ng-app="myApp">
	    <form ng-controller="FormController">

	    		<div  ng-class="!result ? 'form-group' : (result.errors.name ? 'has-error' : 'has-success')">
    				<label>Name</label>
					<input  ng-model="form.name" class="form-control" type="text">
					<span ng-show="result.errors.name" class="help-block">{{result.errors.name}}</span>
  				</div>
  				<div ng-class="!result ? 'form-group' : (result.errors.phone ? 'has-error' : 'has-success')">
    				<label>Phome</label>
					<input  ng-model="form.phone" class="form-control" type="text">
					<span ng-show="result.errors.phone" class="help-block">{{result.errors.phone}}</span>
  				</div>
  				<div ng-class="!result ? 'form-group' : (result.errors.email ? 'has-error' : 'has-success')">
    				<label>Email</label>
					<input  ng-model="form.email" class="form-control" type="text">
					<span ng-show="result.errors.email" class="help-block">{{result.errors.email}}</span>
  				</div>
  				<div ng-class="!result ? 'form-group' : (result.errors.message ? 'has-error' : 'has-success')">
    				<label>Message</label>
					<input  ng-model="form.message" class="form-control" type="text">
					<span ng-show="result.errors.message" class="help-block">{{result.errors.message}}</span>
  				</div>
  			<button type="submit" class="btn btn-success" ng-click="Send()">Отправить</button>

  			</form>

    </body>
</html>
